<%= form_for(@treatment) do |f| %>
  <% if @treatment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@treatment.errors.count, "error") %> prohibited this treatment from being saved:</h2>

      <ul>
      <% @treatment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disease_id %><br>
    <%= f.text_field :disease_id %>
  </div>
  <div class="field">
    <%= f.label :attendance_id %><br>
    <%= f.text_field :attendance_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
