<%= form_for :session, url: sign_in_path do |f| %>


<div class="container">
  
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    
    <div class="col-md-4">
      <section class="login-form">
        
  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
    <%= f.label :email  %><br />
    <%= f.email_field :email, autofocus: true, :class => "form-control col-md-7 col-xs-12" %>
  </div>
  
  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
    <%= f.label :senha %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control col-md-7 col-xs-12" %>
  </div>
  
          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Entrar</button>
      </section>  
      </div>

  </div>
  
</div>

 <% end %>