<%= form_for(@care_plan) do |f| %>
  <% if @care_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@care_plan.errors.count, "error") %> prohibited this care_plan from being saved:</h2>

      <ul>
      <% @care_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :therapeutic_goal %><br>
    <%= f.text_field :therapeutic_goal %>
  </div>
  <div class="field">
    <%= f.label :conduct %><br>
    <%= f.text_field :conduct %>
  </div>
  <div class="field">
    <%= f.label :results_date %><br>
    <%= f.datetime_select :results_date %>
  </div>
  <div class="field">
    <%= f.label :anothers_conduct %><br>
    <%= f.text_field :anothers_conduct %>
  </div>
  <div class="field">
    <%= f.label :pharmacotherapy_id %><br>
    <%= f.text_field :pharmacotherapy_id %>
  </div>
  <div class="field">
    <%= f.label :prm_id %><br>
    <%= f.text_field :prm_id %>
  </div>
  <div class="field">
    <%= f.label :sfc_id %><br>
    <%= f.text_field :sfc_id %>
  </div>
  <div class="field">
    <%= f.label :prmCause_id %><br>
    <%= f.text_field :prmCause_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
