<%= form_for(@care_plan) do |f| %>
  <% if @care_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@care_plan.errors.count, "error") %> Não foi possivel salvar esse registro:</h2>

      <ul>
      <% @care_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal row-border">
            <div class="form-group">
              <label class="col-md-2 control-label">Objetivo terapêutico:</label>
                <div class="col-md-4">
                  <%= f.text_field :therapeutic_goal, :class => "form-control" %>
                </div>
              <label class="col-md-2 control-label">Conduta:</label>
                <div class="col-md-4">
                  <%= f.text_field :conduct, :class => "form-control" %>
                </div>
              <label class="col-md-2 control-label">Data dos resultados:</label>
                <div class="col-md-4">
                  <%= f.datetime_select :results_date, :class => "form-control" %>
                </div>
              <label class="col-md-2 control-label">Outra conduta:</label>
                <div class="col-md-4">
                  <%= f.text_field :anothers_conduct, :class => "form-control" %>
                </div>
<<<<<<< HEAD
              
              
                
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label class="heard">SFC:</label>
                <div class="input-group col-md-12 col-sm-12 col-xs-12 form-group">
                  <%= f.select :sfc_id,
                    Sfc.all.map { |u| [u.description, u.id] },
                    { include_blank: "Buscar SFC" },
                    { class: 'chosen-select' }
                  %>
=======
              <label class="col-md-2 control-label">Farmacoterapia:</label>
                <div class="col-md-4">
                  <%= f.text_field :pharmacotherapy_id, :class => "form-control" %>
                </div>
              <label class="col-md-2 control-label">SFC:</label>
                <div class="col-md-4">
                <%= f.select(:sfc_id, [['Selecione SFC', 0], ['Inicial', 1], ['Resolvido', 2],['Estável',3],
                  ['Melhora', 4], ['Parcial', 5],['Parcial',6],['Sem Melhora', 7], ['Piora', 8],['Falha',9],
                  ['Sem Condições de Avaliar', 10]], :class => "form-control") %> 
                </div> 
>>>>>>> 068583b64cd8c04d3fa0d16a16b23babbe124add
                </div>
              </div>
                
                
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>    
  
  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn btn-success' %>
  </div>
</div>

<% end %>
