<%= form_for(@care_plan) do |f| %>
  <% if @care_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@care_plan.errors.count, "error") %> Não foi possivel salvar esse registro:</h2>

      <ul>
      <% @care_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal row-border">
            <div class="form-group">
              
              <label class="heard">Paciente:</label>
                  <%= f.select :attendance,
                      Attendance.all.map { |u| ["#{u.pacient.name} - #{u.attendance_date}", u.id] },
                      { include_blank: "Buscar Atendimento" },
                      { class: 'select2_single form-control' }
                  %>
                </div> 
                <div class="form-group">
                  
                
              
              <label class="col-md-2 control-label">Objetivo terapêutico:</label>
                <div class="col-md-4">
                  <%= f.text_field :therapeutic_goal, :class => "form-control" %>
                </div>
              <label class="col-md-2 control-label">Conduta:</label>
                <div class="col-md-4">
                  <%= f.text_field :conduct, :class => "form-control" %>
                </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">Data do Resultado:</label>
                  <div id="calendario" class="input-group date" data-provide="datepicker">
                    <%= f.text_field :results_date, {class: "form-control col-md-7 col-xs-12"}%>
                   
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                  </div>
              </div>
              <label class="col-md-2 control-label">Outra conduta:</label>
                <div class="col-md-4">
                  <%= f.text_field :anothers_conduct, :class => "form-control" %>
                </div>
              
              
                
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label class="heard">SFC:</label>
                <div class="input-group col-md-12 col-sm-12 col-xs-12 form-group">
                  <%= f.select :sfc_id,
                    Sfc.all.map { |u| [u.description, u.id] },
                    { include_blank: "Buscar SFC" },
                    { class: 'chosen-select' }
                  %>
                </div>
              </div>
                
                
            </div>
          </form>
        </div>
      </div>
    </div>
    
      <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn btn-success' %>
  </div>
  </div>    
  



<% end %>
