<p id="notice"><%= notice %></p>

<%= link_to 'Novo Plano de Cuidado', new_care_plan_path, :class => 'btn btn-primary' %>

<h1>Lista Plano de Cuidado</h1>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
       <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Objetivo terapêutico</th>
              <th>Conduta</th>
              <th>Data dos resultados</th>
              <th>Outra conduta</th>
              <th>SFC</th>
              <!--<th>Farmacoterapia</th>
              <th>PRM</th>
              <th>SFC</th>
              <th>Causa PRM</th> -->
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @care_plans.each do |care_plan| %>
              <tr>
                <td><%= care_plan.therapeutic_goal %></td>
                <td><%= care_plan.conduct %></td>
                <td><%= care_plan.results_date %></td>
                <td><%= care_plan.anothers_conduct %></td>
                <td><%= care_plan.sfc.description %></td>
                
                <td><%= care_plan.attendance%></td>  
                <td><%= care_plan.attendance%></td>  
                <!--<td><%= care_plan.pharmacotherapy %></td>
                <td><%= care_plan.prm %></td>
                <td><%= care_plan.prmCause %></td> -->
                <td><%= link_to 'Visualizar', care_plan, :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Editar', edit_care_plan_path(care_plan), :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Excluir', care_plan, :class => 'btn btn-primary', method: :delete, data: { confirm: 'Confirma a exclusão?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
