<p id="notice"><%= notice %></p>

<p>
  <strong>Paciente:</strong>
  <%= @care_plan.attendance.pacient.name %>
</p>
<p>
  <strong>Data do Atendimento:</strong>
  <%= @care_plan.attendance.attendance_date %>
</p>

<p>
  <strong>Objetivo terapêutico:</strong>
  <%= @care_plan.therapeutic_goal %>
</p>

<p>
  <strong>Conduta:</strong>
  <%= @care_plan.conduct %>
</p>

<p>
  <strong>Data dos resultados:</strong>
  <%= @care_plan.results_date %>
</p>

<p>
  <strong>Outra conduta:</strong>
  <%= @care_plan.anothers_conduct %>
</p>



<p>
  <strong>SFC:</strong>
  <%= @care_plan.sfc %>
</p>



<%= link_to 'Editar', edit_care_plan_path(@care_plan), :class => 'btn btn-primary' %> | <%= link_to 'Voltar', care_plans_path, :class => 'btn btn-primary' %>
