<p id="notice"><%= notice %></p>

<h1>Lista de usuários</h1>

<%= link_to 'Novo usuário', new_user_path, :class => 'btn btn-primary' %>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
       <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Perfil</th>
              <th colspan="3">Ações</th>
            </tr>
          </thead>
        
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.profile %></td>
                <td>
                    <div class="btn-group">
                      <%= link_to '<i class="fa fa-folder"></i>'.html_safe, user, :class => 'btn btn-info', "data-original-title" => "Visualizar", "data-placement" => "top", "data-toggle" => "tooltip" %>
                      <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_path(user), :class => 'btn btn-warning', "data-original-title" => "Editar", "data-placement" => "top", "data-toggle" => "tooltip" %>
                      <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, user, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Confirma a exclusão?' }, "data-original-title" => "Delete", "data-placement" => "top", "data-toggle" => "tooltip" %>
                    </div>  
                </td> 
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>