<%= form_for(@prm_cause) do |f| %>
  <% if @prm_cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prm_cause.errors.count, "error") %> prohibited this prm_cause from being saved:</h2>

      <ul>
      <% @prm_cause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
