<%= form_for(@prm_cause) do |f| %>
  <% if @prm_cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prm_cause.errors.count, "error") %> prohibited this prm_cause from being saved:</h2>

      <ul>
      <% @prm_cause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal row-border">
            <div class="form-group">
              <label class="col-md-2 control-label">Descrição:</label>  
                <div class="col-md-4">
                  <%= f.text_field :description %>
                </div>
                
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">PRM:</label>
                    <%= f.select(:prm_id, [['Selecione a PRM', 0], 
                    ['PRM 1 - Medicamento desnecessario ', 1], 
                    ['PRM 2 - Necessidade de medicamento ', 2],
                    ['PRM 3 - Medicamento não é efetivo para a condição ',3],
                    ['PRM 4 - Dose',4],
                    ['PRM 5 - Reação adversa ao medicamento ',5],
                    ['PRM 6 - Dose alta ',6],
                    ['PRM 7 - Não adesão',7],
                    ], {}, {class: "form-control col-md-7 col-xs-12"}) %>

                  </div>
                
              <!--<label class="col-md-2 control-label">PRM ID:</label>  -->
              <!--  <div class="col-md-4">-->
              <!--    <%= f.text_field :prm_id %>-->
              <!--  </div>-->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>                
    <div class="actions">
      <%= f.submit 'Salvar', :class => 'btn btn-success'%>
    </div>
</div>
<% end %>
