<p id="notice"><%= notice %></p>

<%= link_to 'Nova Causa PRM', new_prm_cause_path, :class => 'btn btn-primary' %>

<h1>Lista Causa PRM</h1>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
       <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Descrição</th>
              <th>PRM</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @prm_causes.each do |prm_cause| %>
              <tr>
                <td><%= prm_cause.description %></td>
                <td><%= prm_cause.prm %></td>
                <td><%= link_to 'Visualizar', prm_cause, :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Editar', edit_prm_cause_path(prm_cause), :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Excluir', prm_cause, :class => 'btn btn-primary', method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



