<%= form_for(@disease) do |f| %>
  <% if @disease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disease.errors.count, "error") %> Não foi possivel salvar esse registro:</h2>

      <ul>
      <% @disease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  
  <!-- Row start -->
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title">Informações da Doença</h3>
        </div>
       
        <div class="panel-body">
          <form class="form-horizontal row-border" action="#">
            <div class="form-group">
              <label class="col-md-1 control-label">Nome:</label>
                <div class="col-md-5">
                  <%= f.select :name_id,
                    Name.all.map { |u| [u.description, u.id] },
                    { include_blank: "Buscar Doença" },
                    { class: 'chosen-select' }
                  %>
                </div>
              <label class="col-md-1 control-label">Descrição:</label>
                <div class="col-md-5">
                  <%= f.text_area :description, :class => "form-control" %>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Row end -->
    <div class="actions">
      <%= f.submit 'Salvar', :class => 'btn btn-success' %>
    </div>
</div>    

<%= link_to 'Adicionar Farmacoterapia', new_pharmacotherapy_path, :class => 'btn btn-primary' %>

<% end %>
