<%= link_to 'Nova doença', new_disease_path, :class => 'btn btn-primary' %>

<p id="notice"><%= notice %></p>

<h1>Lista de doenças por atendimento</h1>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
       <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Paciente</th>
              <th>Data de Atendimento</th>
              <th>Nome da Doença</th>
              <th>Descrição da Doença</th>
              <th colspan="5"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @diseases.each do |disease| %>
              <tr>
                <td><%= disease.attendance.pacient.name%></td>  
                <td><%= disease.attendance.attendance_date%></td>
                
                <td><%= disease.name %></td>
                <td><%= disease.description %></td>
                <td><%= link_to 'Nova Farmacoterapia', new_pharmacotherapy_path, :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Visualizar', disease, :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Editar', edit_disease_path(disease), :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Excluir', disease, :class => 'btn btn-primary', method: :delete, data: { confirm: 'Confirma a exclusão?' } %></td>
                
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



