<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Criar Profissão</h4>
            </div>
            <div class="modal-body">
                <%= form_for @profession, :remote => true do |f| %>
                    <% if @profession.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@profession.errors.count, "error") %> prohibited this profession from being saved:</h2>
                    
                            <ul>
                            <% @profession.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                            </ul>
                        </div>
                    <% end %>
                    
                    <div class="field">
                        <%= f.label :Descrição %>
                        <%= f.text_field :description %>
                    </div>
                    
                    <div class="actions">
                        <!--%= f.submit :Salvar, :remote => true, :class => 'btn btn-success' %-->
                        <button id="save" type="button" remote="true" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Ao clicar em salvar, a profissão será criada" >
                            Salvar
                        </button>
                    </div>
                <% end %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>