<p id="notice"><%= notice %></p>


<h1>Lista de Profissões</h1>

<form class="form-horizontal">
  <div class="input-group col-md-4">
    <%= form_tag(professions_path, :method => :get) do %>
      <%= text_field_tag 'pesquisa', nil, placeholder: 'Buscar Profissão', :class => 'form-control' %>
      <span class="input-group-btn">
      <%= submit_tag "Pesquisar" , :class => 'btn btn-primary form-control' %>
      </span>
    <% end %>
  </div>
</form>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
       <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Descrição</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @professions.each do |profession| %>
              <tr>
                <td><%= profession.description %></td>
                <td><%= link_to 'Visualizar', profession, :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Editar', edit_profession_path(profession), :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Excluir', profession, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>  

<br>
