<p id="notice"><%= notice %></p>

<h1>Lista de Profissões</h1>

<form class="form-horizontal">
  <div class="input-group col-md-4">
    <%= form_tag(professions_path, :method => :get) do %>
      <%= text_field_tag 'pesquisa', nil, placeholder: 'Buscar Profissão', :class => 'form-control' %>
      <span class="input-group-btn">
      <%= submit_tag "Pesquisar" , :class => 'btn btn-primary form-control' %>
      </span>
    <% end %>
  </div>
  <div>
    <%= link_to new_profession_path, :remote => true do %>
      <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
    <% end %>
  </div>
</form>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
       <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Descrição</th>
              <th colspan="3">Ações</th>
            </tr>
          </thead>
        
          <tbody>
            <% @professions.each do |profession| %>
              <tr>
                <td><%= profession.description %></td>
                <td>
                    <div class="btn-group">
                      <%= link_to '<i class="fa fa-folder"></i>'.html_safe, profession, :class => 'btn btn-info', "data-original-title" => "Visualizar", "data-placement" => "top", "data-toggle" => "tooltip" %>
                      <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_profession_path(profession), :class => 'btn btn-warning', "data-original-title" => "Editar", "data-placement" => "top", "data-toggle" => "tooltip" %>
                      <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, profession, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Confirma a exclusão?' }, "data-original-title" => "Delete", "data-placement" => "top", "data-toggle" => "tooltip" %>
                    </div>  
                </td> 
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>  

<br>

<div id="new-profession" style="display:none;"></div>