<p id="notice"><%= notice %></p>

<h1>Listing Sfcs</h1>

<%= form_tag(sfcs_path, :method => :get) do %>
  <%= text_field_tag 'pesquisa', nil, placeholder: 'Buscar por SFC' %>
  <%= submit_tag "Pesquisar" , :class => 'btn btn-primary'%>
<% end %>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sfcs.each do |sfc| %>
      <tr>
        <td><%= sfc.description %></td>
        <td><%= link_to 'Show', sfc %></td>
        <td><%= link_to 'Edit', edit_sfc_path(sfc) %></td>
        <td><%= link_to 'Destroy', sfc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sfc', new_sfc_path %>
