<%= form_for(@pacient) do |f| %>
  <% if @pacient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pacient.errors.count, "error") %> Não foi possivel salvar esse registro:</h2>

      <ul>
      <% @pacient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="container">
      <form id="demo-form" data-parsley-validate>
        <div class="x_panel">
          <div class="x_title">
            <h2>Dados do Paciente</h2>
            
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          
          <div class="x_content">
            <div class="row">
                
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">Nome:</label>
                    <%= f.text_field :name, :type => "text", :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div>
                
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">CPF:</label>
                  
                  <%= f.text_field :cpf, :class => "form-control", :data=> {:mask=> '999.999.999-99'}%> 
                    
                </div>
                
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">Sexo:</label>
                    <%= f.select(:genre, [['Selecione o Sexo', 0], ['Feminino', 1], ['Masculino', 2],['Outro',3]], {}, {class: "form-control col-md-7 col-xs-12"}) %>
                </div>
                
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">Data de nascimento: </label>
                    <%= f.date_field :birth_date, :type => "date", :required => "required", :class => "form-control col-md-7 col-xs-12", min:"1900-01-01", max: Date.today %>
                </div>

                
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">Estado civil:</label>
                    <%= f.select(:marital_status, [['Selecione o Estado Civil', 0], ['Solteiro', 1], ['Casado', 2],['Separado',3], ['Divorciado', 4], ['Viúvo',5]], {}, {class: "form-control col-md-7 col-xs-12"}) %>
                </div>
                
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">Anos de estudo:</label>
                  <%= f.number_field :years_study, :type => "text", :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div>
                
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">Telefone:</label>
                    <%= f.text_field :phone, :required => "required", :class => "form-control col-md-7 col-xs-12", :maxlength => 16, required: true, 'data-mask'=>'(99) 9999-9999' %>
                </div>               
                
                <!--<form id="exemplo">-->
                  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                    <label class="heard">Profissão:</label>
                    <div class="input-group col-md-12 col-sm-12 col-xs-12 form-group">
                      <%= f.select :profession_id,
                        Profession.all.map { |u| [u.description, u.id] },
                        { include_blank: "Buscar Profissão" },
                        { class: 'chosen-select' }
                      %>
                      <span class="input-grou-btn">
                        <div>
                          <!--%= link_to 'Nova Profissão', new_profession_path, :remote => true, :class => 'btn btn-primary' %-->
                          <a "button" class="btn btn-default btn-sm" data-remote="true" href="/professions/new">Nova Profissão
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <script>
                              $('#myModal').modal('show');
                              $('#new-profession').slideDown(350);
                            </script>
                          </a>
                        </div>
                      </span>
                    </div>
                  </div>  
                <!--</form>-->
                

                <!--//   $(document).ready(function() {-->
                <!--//     $("form#new").submit(function() {-->
                <!--//       event.preventDefault();-->
                <!--//       $("#save").find("button").click( function() {-->
                <!--//         window.dynaform.flashMessage( {-->
                <!--//           emphasisMessage: "Saving ",-->
                <!--//           message: "data in form.",-->
                <!--//           duration:  5000,-->
                <!--//           type: 'info',-->
                <!--//           appendTo: $('#save'),-->
                <!--//           absoluteTop : true-->
                <!--//         }).done(function(e){   -->
                <!--//           $('#profession').append(e);-->
                <!--//         });-->
                <!--//       });-->
                <!--//     });-->
                <!--//   });-->
            
            </div>
          </div>
        </div>


       <div class="x_panel">
          <div class="x_title">
            <h2>Dados Complementares</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div class="row">
              
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">Profissional do serviço:</label>
                  <%= f.text_field :services_professional, :type => "text", :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div>              
              
                  
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">Lugar de atendimento:</label>
                    <%= f.text_field :place_attendence, :type => "text", :required => "required", :class => "form-control col-md-7 col-xs-12"%>               
                </div>
              
                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <label for="message">Endereço:</label>
                  <%= f.text_field :address, :type => "text", :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div> 
                
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                    <label class="heard">UBS:</label>
                      <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <%= f.select :ub_id,
                          Ub.all.map { |u| [u.description, u.id] },
                          { include_blank: "Buscar UBS" },
                          { class: 'chosen-select' }
                        %> 
                      </div>
                </div>
                
                
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                    <label class="heard">Acesso ao Serviço:</label>
                      <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <%= f.select :service_access_id,
                          ServiceAccess.all.map { |u| [u.description, u.id] },
                          { include_blank: "Buscar Acesso ao Serviço" },
                          { class: 'chosen-select' }
                        %>
                      </div>
                </div>   
                
                <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                  <label class="heard">Motivo da consulta:</label>
                  <%= f.text_area :reason_meeting, :class => "form-control col-md-7 col-xs-12"%>
                </div>

            </div>
          </div>
        </div>  
        
        <div class="x_panel">
          <div class="x_title">
            <h2>Habitos de vida</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div class="row">
              
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">Atividade Fisica:</label>
                  <%= f.text_area :physical_activity, :type => "text", :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div>              
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">Cigarro:</label>
                    <%= f.text_area :cigarette, :type => "text", :required => "required", :class => "form-control col-md-7 col-xs-12"%>               
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <label for="message">Bebidas Alcoólicas:</label>
                  <%= f.text_area :alcoholic_beverages, :type => "text", :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div> 
                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <label for="message">Rotina Diária:</label>
                  <%= f.text_area :daily_routine, :type => "text", :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div> 
                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <label for="message">Alertas:</label>
                  <%= f.text_area :alerts, :type => "text", :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div> 
                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <label for="message">Terapia Alternativa</label>
                  <%= f.text_area :alternative_therapy, :type => "text", :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div> 
                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <label for="message">Experiência subjetiva com o uso de medicamento:</label>
                  <%= f.text_area :subjective_medications, :type => "text", :required => "required", :class => "form-control col-md-7 col-xs-20"%>
                </div> 
            </div>
          </div>
        </div>  
  </form>

        <div class="x_panel">
          <div class="x_title">
            <h2>Dados Antropométricos</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
        </div>
      
            
              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">Peso:</label>
                  <%= f.text_field :weight, :type => "numeric", :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div> 
              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">Altura:</label>
                  <%= f.text_field :height, :type => "decimal", :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div> 
              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="fullname">IMC:</label>
                  <%= f.text_field :IMC, :type => "decimal", :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div> 
        </div>      
  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn btn-success' %>
  </div>

</div>

<% end %>
