<%= form_for(@pacient) do |f| %>
  <% if @pacient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pacient.errors.count, "error") %> Não foi possivel salvar esse registro:</h2>

      <ul>
      <% @pacient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  
  <!-- Row start -->
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title">Informações do paciente</h3>
        </div>
       
        <div class="panel-body">
          <form class="form-horizontal row-border" action="#">
            <div class="form-group">
              
              <label class="col-md-2 control-label">Motivo da consulta:</label>
                <div class="col-md-10">
                  <%= f.text_area :reason_meeting, :class => "form-control"%>
                </div>
              
              <label class="col-md-2 control-label">Nome:</label>
                <div class="col-md-4">
                  <%= f.text_field :name, :class => "form-control"%>
                </div>
              <label class="col-md-2 control-label">Lugar de atendimento:</label>
                <div class="col-md-4">
                  <%= f.text_field :place_attendence, :class => "form-control"%>
                </div>
                
              
              <label class="col-md-2 control-label">Data de nascimento:</label>
                <div class="col-md-4">
                  <%= f.date_select :birth_date, :class => "form-control"%>
                </div>
              <label class="col-md-2 control-label">Anos de estudo:</label>
                <div class="col-md-4">
                  <%= f.number_field :years_study, :class => "form-control"%>
                </div>
                
              
              <label class="col-md-2 control-label">Sexo:</label>
                <div class="col-md-4">
                  <%= f.select(:genre, [['Selecione o Sexo', 0], ['Feminino', 1], ['Masculino', 2],['Outro',3]], :class => "form-control") %>
                </div>
                
                
              <label class="col-md-2 control-label">Telefone:</label>
                <div class="col-md-4">
                  <%= f.text_field :phone, :class => "form-control"%>
                </div>
                
              <label class="col-md-2 control-label">UBS:</label>
                <div class="col-md-4">
                  <%= f.select :ub_id,
                    Ub.all.map { |u| [u.description, u.id] },
                    { include_blank: "Buscar UBS" },
                    { class: 'chosen-select' }
                  %> 
                </div>              

              <label class="col-md-2 control-label">Estado civil:</label>
                <div class="col-md-4">
                  <%= f.select(:marital_status, [['Selecione o Estado Civil', 0], ['Solteiro', 1], ['Casado', 2],['Separado',3], ['Divorciado', 4], ['Viúvo',5]], :class => "form-control") %>
                </div>
                
              
              <label class="col-md-2 control-label">CPF:</label>
                <div class="col-md-4">
                  <%= f.text_field :cpf, :class => "form-control"%>
                </div>
                
              <label class="col-md-2 control-label">Profissional serviço:</label>
                <div class="col-md-4">
                  <%= f.text_field :services_professional, :class => "form-control"%>
                </div>
              
              <label class="col-md-2 control-label">Endereço:</label>
                <div class="col-md-10">
                  <%= f.text_field :address, :class => "form-control"%>
                </div>              
              
              <label class="col-md-2 control-label">Profissão:</label>
                <div class="col-md-4">
                  <%= f.select :profession_id,
                    Profession.all.map { |u| [u.description, u.id] },
                    { include_blank: "Buscar Profissão" },
                    { class: 'chosen-select' }
                  %>  
                </div>
              <div class="col-md-6">  
                <%= link_to 'Adicionar Profissão', new_profession_path, :class => 'btn btn-primary' %></td>  
              </div>
                
              <label class="col-md-2 control-label">Acesso ao serviço:</label>
                <div class="col-md-4">
                  <%= f.collection_select :service_access_id, ServiceAccess.all, :id, :description, :class => "form-control"%>
                </div>

                

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn btn-success' %>
  </div>
  <!-- Row end -->
</div>
  
<% end %>
