<div class="x_panel">
          <div class="x_title">
            <h2>Dados do Paciente</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          
         <div class="row">
                        <div class="col-xs-8 table">
                          <table class="table table-bordered">
          
            <p id="notice"><%= notice %></p>

            <tr>
             <td> <strong>Nome:</strong> </td>
              <td> <%= @pacient.name %> </td>
            </tr>

            <tr>
              <td><strong>Lugar de atendimento:</strong></td>
             <td> <%= @pacient.place_attendence %> </td>
            </tr>

            <tr>
              <td><strong>Data de nascimento:</strong></td>
              <td><%= @pacient.birth_date %> </td>
            </tr>

            <tr>
              <td><strong>Anos de estudo:</strong></td>
              <td><%= @pacient.years_study %></td>
            </tr>

            <tr>
              <td><strong>Sexo:</strong></td>
              <td><%= @pacient.genre %> </td>
            </tr>

            <tr>
              <td><strong>Estado civil:</strong></td>
              <td><%= @pacient.marital_status %></td>
            </tr>

            <tr>
              <td><strong>Telefone:</strong></td>
              <td><%= @pacient.phone %></td>
            </tr>

            <tr>
              <td><strong>Endereço:</strong></td>
              <td><%= @pacient.address %></td>
            </tr>
            
            <tr>
              <td><strong>Profissional serviço:</strong></td>
              <td><%= @pacient.services_professional %> </td>
            </tr>

            <tr>
              <td><strong>Motivo do encontro:</strong></td>
              <td><%= @pacient.reason_meeting %> </td>
            </tr>

            <tr>
              <td><strong>CPF:</strong></td>
              <td><%= @pacient.cpf %> </td>
            </tr>
            
            <tr>
              <td><strong>Profissão:</strong></td>
              <td><%= @pacient.profession.description %></td>
            </tr>

            <tr>
              <td><strong>UBS:</strong></td>
              <td><%= @pacient.ub.description %></td>
            </tr>

            <tr>
              <td><strong>Acesso ao Serviço:</strong></td>
              <td><%= @pacient.service_access.description %></td>
            </tr>
            
            <tr>
              <td><strong>Atividade Fisica:</strong></td>
              <td><%= @pacient.physical_activity %></td>
            </tr>
            
            <tr>
              <td><strong>Cigarro:</strong></td>
              <td><%= @pacient.cigarette %></td>
            </tr>

            <tr>
              <td><strong>Bebidas Alcoólicas:</strong></td>
              <td><%= @pacient.alcoholic_beverages %></td>
            </tr>

            <tr>
              <td><strong>Rotina Diária:</strong></td>
              <td><%= @pacient.daily_routine %></td>
            </tr>
            
            <tr>
              <td><strong>Alertas:</strong></td>
              <td><%= @pacient.alerts %></td>
            </tr>

            <tr>
              <td><strong>Terapia Alternativa:</strong></td>
              <td><%= @pacient.alternative_therapy %></td>
            </tr>
            
            <tr>
              <td><strong>Experiência subjetiva com o uso de medicamento:</strong></td>
              <td><%= @pacient.subjective_medications %></td>
            </tr>
            <tr>
              <td><strong>Peso:</strong></td>
              <td><%= @pacient.weight %></td>
            </tr>
            <tr>
              <td><strong>Altura:</strong></td>
              <td><%= @pacient.height %></td>
            </tr>
            <tr>
              <td><strong>IMC:</strong></td>
              <td><%= @pacient.IMC %></td>
            </tr>
            
          </div>
           
            
            
            
           
          </div>
          </table>
          <%= link_to 'Editar', edit_pacient_path(@pacient), :class => 'btn btn-primary' %> | <%= link_to 'Voltar', pacients_path, :class => 'btn btn-primary' %>
          
          
          
          
          
          
          
           <div class="x_title">
            <h2>Atendimento(s) do Paciente</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          
         <div class="x_content">  
         
           <div class="container-fluid">
             <td><a href="/attendances/new?idPaciente=<%=@pacient.id%>" class="btn btn-primary">Novo Atendimento</a></td>
              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Data do atendimento</th>
                          <th>Quadro geral</th>
                          <th colspan="2"></th>
                        </tr>
                      </thead>
          
                    <tbody>
                      <% @attendances.each do |attendance| %>
                        <tr>
                          <td><%= attendance.attendance_date %></td>
                          <td><%= attendance.general_screen %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
         
         
        </div>
</div>




