<p id="notice"><%= notice %></p>

<h1>Lista de Acesso ao Serviço</h1>

<form class="form-horizontal">
  <div>
    <%= link_to new_service_access_path, :remote => true do %>
      <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
    <% end %>
  </div>
</form>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Descrição</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @service_accesses.each do |service_access| %>
              <tr>
                <td><%= service_access.description %></td>
                <td><%= link_to 'Visualizar', service_access, :class => 'btn btn-info' %></td>
                <td><%= link_to 'Editar', edit_service_access_path(service_access), :class => 'btn btn-warning' %></td>
                <td><%= link_to 'Excluir', service_access, method: :delete, data: { confirm: 'Confirma a exclusão?' }, :class => 'btn btn btn-danger' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<br>

<div id="new-service_access" style="display:none;"></div>