<%= form_for(@prm) do |f| %>
  <% if @prm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prm.errors.count, "error") %> prohibited this prm from being saved:</h2>

      <ul>
      <% @prm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal row-border">
            <div class="form-group">
              <label class="col-md-2 control-label">Descrição:</label>
                <div class="col-md-10">
                  <%= f.text_field :description %>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn btn-success' %>
  </div>
</div>
<% end %>
