<%= form_for(@prm) do |f| %>
  <% if @prm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prm.errors.count, "error") %> prohibited this prm from being saved:</h2>

      <ul>
      <% @prm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  
  <div class="field">
    <%= f.label :prm_cause %><br>
    <%= f.collection_select :prm_causes_id, PrmCause.all, :id, :description %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
