<p id="notice"><%= notice %></p>

<h1>Lista de PRM(s)</h1>

<<<<<<< HEAD
<%= form_tag(prms_path, :method => :get) do %>
  <%= text_field_tag 'pesquisa', nil, placeholder: 'Buscar por PRM' %>
  <%= submit_tag "Pesquisar" , :class => 'btn btn-primary'%>
<% end %>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
=======
<%= link_to 'Novo PRM', new_prm_path, :class => 'btn btn-primary' %>
>>>>>>> master

<%= form_tag(prms_path, :method => :get) do %>
  <%= text_field_tag 'pesquisa', nil, placeholder: 'Buscar por PRMS' %>
  <%= submit_tag "Pesquisar" , :class => 'btn btn-primary'%>
<% end %>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
       <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Descrição:</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @prms.each do |prm| %>
              <tr>
                <td><%= prm.description %></td>
                <td><%= link_to 'Visualizar', prm, :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Editar', edit_prm_path(prm), :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Excluir', prm, :class => 'btn btn-primary', method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
