<%= form_for(@type_sex) do |f| %>
  <% if @type_sex.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_sex.errors.count, "error") %> prohibited this type_sex from being saved:</h2>

      <ul>
      <% @type_sex.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4>Descrição: </h4>
    <%= f.text_field :description %>
  </div><br>
  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn btn-success'%>
  </div>
<% end %>
