

<div class="container-fluid">
  <%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> Não foi possivel salvar esse registro:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <!-- Row start -->
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        
       
        <div class="panel-body">
          <form class="form-horizontal row-border" action="#">
            <div class="form-group">
              
              <label class="col-md-2 control-label">Descricao:</label>
                <div class="col-md-10">
                  <%= f.text_area :general_screen, :class => "form-control"%>
                </div>
              
              <label class="col-md-2 control-label">Data Atendimento:</label>
                <div class="col-md-4">
                  <%= f.datetime_select :attendance_date, :class => "form-control"%>
                </div>
              <label class="col-md-2 control-label">Paciente:</label>
                <div class="col-md-4">
                  <%= f.text_field :pacient_id, :class => "form-control"%>
                </div>
                
              
              
                

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Row end -->
</div>

 <div class="actions" style="float:right">
    <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
  </div>
  
<% end %>