  <%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> Não foi possivel salvar esse registro:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<<<<<<< HEAD

=======
>>>>>>> 32b20a014d1118737486ba5b7b49972e394ec9a7
<div class="container">
      <form id="demo-form" data-parsley-validate>
        <div class="x_panel">
          <div class="x_title">
            <h2>Dados do Atendimento</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
        
          <div class="x_content">
            <div class="row">  
              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label class="heard">Paciente:</label>
                  <%= f.select :pacient_id,
                      Pacient.all.map { |u| [u.name, u.id] },
                      { include_blank: "Buscar Paciente" },
                      { class: 'select2_single form-control' }
                  %>
              </div>
              
              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">Data do Atendimento:</label>
                  <%= f.text_field :attendance_date, {class: "form-control col-md-7 col-xs-12"}%>
              </div>
              
              <div class="col-md-12 col-sm-12 col-xs-12 form-group">  
                <label for="heard">Quadro geral:</label>
                <%= f.text_area :general_screen, :class => "form-control" %>
              </div>
            </div>    
          </div>
        </div>
      </form>
  

     <div class="actions" style="float:right">
        <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
      </div>
<<<<<<< HEAD
    </div>
  </div>
  <!-- Row end -->
=======
>>>>>>> 32b20a014d1118737486ba5b7b49972e394ec9a7

</div>

<% end %>



