<p id="notice"><%= notice %></p>

<h1>Lista de atendimentos</h1>

<%= link_to 'Novo atendimento', new_attendance_path, :class => 'btn btn-primary' %>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
       <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Paciente</th>
              <th>CPF</th>
              <th>Data do atendimento</th>
              <th>Quadro geral</th>
              <th colspan="4">Ações</th>
            </tr>
          </thead>
        
          <tbody>
            <% @attendances.each do |attendance| %>
              <tr>
                <td> </td>
                <td> </td>
                <td><%= attendance.attendance_date %></td>
                <td><%= attendance.general_screen %></td>
                  <td>
                    <div class="btn-group">
                      <%= link_to 'Nova Doença', new_disease_path, :class => 'btn btn-primary' %>
                      <%= link_to '<i class="fa fa-folder"></i>'.html_safe, attendance, :class => 'btn btn-info', "data-original-title" => "Visualizar", "data-placement" => "top", "data-toggle" => "tooltip" %>
                      <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_attendance_path(attendance), :class => 'btn btn-warning', "data-original-title" => "Editar", "data-placement" => "top", "data-toggle" => "tooltip" %>
                      <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, attendance, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Confirma a exclusão?' }, "data-original-title" => "Delete", "data-placement" => "top", "data-toggle" => "tooltip" %>
                    </div>
                  </td>             
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


