<p id="notice"><%= notice %></p>

<%= link_to 'Novo atendimento', new_attendance_path, :class => 'btn btn-primary' %>

<br>

<h1>Lista de atendimentos</h1>

<div class="container">
  <div class="row">
      <div class="col-sm-9">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Data do atendimento</th>
              <th>Tela geral</th>
            </tr>
          </thead>
          <tbody>
            <% @attendances.each do |attendance| %>
              <tr>
                <td><%= attendance.attendance_date %></td>
                <td><%= attendance.general_screen %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    
      <div class="col-sm-3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @attendances.each do |attendance| %>
              <tr>
                <td><%= link_to 'Visualizar', attendance, :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Editar', edit_attendance_path(attendance), :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Excluir', attendance, :class => 'btn btn-primary', method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

  </div>
</div>