<p id="notice"><%= notice %></p>

<h1>Lista de atendimentos</h1>

<%= link_to 'Novo atendimento', new_attendance_path, :class => 'btn btn-primary' %>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
       <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Paciente</th>
              <th>CPF</th>
              <th>Data do atendimento</th>
              <th>Quadro geral</th>
              <th colspan="4"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @attendances.each do |attendance| %>
              <tr>
                <td> </td>
                <td> </td>
                <td><%= attendance.attendance_date %></td>
                <td><%= attendance.general_screen %></td>
                <td><%= link_to 'Nova Doença', new_disease_path, :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Visualizar', attendance, :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Editar', edit_attendance_path(attendance), :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Excluir', attendance, :class => 'btn btn-primary', method: :delete, data: { confirm: 'Confirma a exclusão?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


