<p id="notice"><%= notice %></p>

<p>
  <strong>Data do atendimento: </strong>
  <%= @attendance.attendance_date %>
</p>

<p>
  <strong>Descricao: </strong>
  <%= @attendance.general_screen %>
</p>

<%= link_to 'Editar', edit_attendance_path(@attendance), :class => 'btn btn-primary' %> | <%= link_to 'Voltar', attendances_path, :class => 'btn btn-primary' %>

