<%= form_for(@pharmacotherapy) do |f| %>
  <% if @pharmacotherapy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pharmacotherapy.errors.count, "error") %> Não foi possivel salvar esse registro:</h2>

      <ul>
      <% @pharmacotherapy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label class="heard">Paciente:</label>
                  <div class="input-group col-md-12 col-sm-12 col-xs-12 form-group">
                    <%= f.select :pacients,
                      Pacient.all.map { |u| [u.name, u.id] },
                      { include_blank: "Buscar Paciente" },
                      { class: 'select2_single form-control' }
                    %>
                    <!--<span class="input-grou-btn">-->
                    <!-- <%= link_to '  Doença', new_profession_path, {class: "btn fa fa-plus btn-primary"}%>  -->
                    <!--</span>-->
                  </div>
                </div>
  

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal row-border">
            <div class="form-group">
              <!--<label class="col-md-1 control-label">ID tratamento:</label>
                <div class="col-md-2">
                  <%= f.text_field :treatment_id, :class => "form-control" %>
                </div> -->  
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <label class="header">Plano de tratamento:</label>
                  <%= f.text_area :carePlan, :class => "form-control" %>
                </div>              
                  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label class="heard">Remedio:</label>
                  <!--<%= form_tag(professions_path, :method => :get) do %>
                  <%= text_field_tag 'pesquisa', nil, placeholder: 'Buscar Profissão' %>
                  <%= submit_tag "Pesquisar"%>
                  <% end %> -->
                  <%= f.text_field :medicine, :class => "form-control" %>
                </div>
                
                  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">Dosagem:</label>
                    <%= f.text_field :dosageSchedule, :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                  </div>
                
                  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">Segurança:</label>
                    <%= f.text_field :safety, :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div>
                
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">Eficácia:</label>
                    <%= f.text_field :effectiveness, :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div>
                
                  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                  <label for="heard">Tempo de uso:</label>
                  <%= f.number_field :timeUse, :required => "required", :class => "form-control col-md-7 col-xs-12"%>
                </div>        
                
            
                
                <div class="col-md-9 col-sm-12 col-xs-12 form-group">
                  <label class="heard">Dificuldade no uso:</label>
                  <%= f.text_area :useDificulty, :class => "form-control col-md-7 col-xs-12"%>
                </div>
                
                </div>
          </div>
        </div>
                
                <div class="container">
      <form id="demo-form" data-parsley-validate>
        <div class="x_panel">
          <div class="x_title">
            <h2>PRM</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
        
          <div class="x_content">
            <div class="row">
                
              
              <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <label class="heard">Selecione PRM:</label>
                  <div class="input-group col-md-12 col-sm-12 col-xs-12 form-group">
                    <%= f.select :prm_id,
                      Prm.all.map { |u| [u.description, u.id] },
                      { include_blank: "Buscar PRM" },
                      { class: 'select2_single form-control' }
                    %>
                  </div>
              </div>
              
              <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                  <label class="heard">Causas do PRM:</label>
                <div class="input-group col-md-12 col-sm-12 col-xs-12 form-group">
                  
                  <%= f.select :prmCause_id,
                    PrmCause.all.map { |u| [u.description, u.id] },
                    { include_blank: "Causas do PRM" },
                    { class: 'select2_single form-control' }
                  %>
                  
                </div>
              </div>
              
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
 
 
</div>

<div class="actions">
    <%= f.submit 'Salvar', :class => 'btn btn-success'%>
  </div>

<%= link_to 'Adicionar Plano de Cuidados', new_care_plan_path, :class => 'btn btn-primary' %>

<% end %>
