<%= form_for(@pharmacotherapy) do |f| %>
  <% if @pharmacotherapy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pharmacotherapy.errors.count, "error") %> Não foi possivel salvar esse registro:</h2>

      <ul>
      <% @pharmacotherapy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal row-border">
            <div class="form-group">
              <label class="col-md-1 control-label">ID tratamento:</label>
                <div class="col-md-2">
                  <%= f.text_field :treatment_id, :class => "form-control" %>
                </div>               
              <label class="col-md-1 control-label">Plano de tratamento:</label>
                <div class="col-md-8">
                  <%= f.text_area :carePlan, :class => "form-control" %>
                </div>              
              <label class="col-md-1 control-label">Remedio:</label>
                <div class="col-md-2">
                  <%= f.text_field :medicine, :class => "form-control" %>
                </div>
              <label class="col-md-1 control-label">Descrição da doença:</label>
                <div class="col-md-8">
                  <%= f.text_area :descriptionDisease, :class => "form-control" %>
                </div>                
              <label class="col-md-1 control-label">Dosagem:</label>
                <div class="col-md-2">
                  <%= f.text_field :dosageSchedule, :class => "form-control" %>
                </div>
              <label class="col-md-1 control-label">Segurança:</label>
                <div class="col-md-2">
                  <%= f.text_field :safety, :class => "form-control" %>
                </div>
              <label class="col-md-1 control-label">Eficácia:</label>
                <div class="col-md-2">
                  <%= f.text_field :effectiveness, :class => "form-control" %>
                </div>
              <label class="col-md-1 control-label">Tempo de uso:</label>
                <div class="col-md-2">
                  <%= f.number_field :timeUse, :class => "form-control" %>
                </div>              
              <label class="col-md-1 control-label">Dificuldade no uso:</label>
                <div class="col-md-11">
                  <%= f.text_field :useDificulty, :class => "form-control" %>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn btn-success'%>
  </div>
</div>
<% end %>
