<p id="notice"><%= notice %></p>

<h1>Listing Pharmacotherapies</h1>

<table>
  <thead>
    <tr>
      <th>Medicine</th>
      <th>Dosageschedule</th>
      <th>Safety</th>
      <th>Effectiveness</th>
      <th>Usedificulty</th>
      <th>Timeuse</th>
      <th>Careplan</th>
      <th>Descriptiondisease</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pharmacotherapies.each do |pharmacotherapy| %>
      <tr>
        <td><%= pharmacotherapy.medicine %></td>
        <td><%= pharmacotherapy.dosageSchedule %></td>
        <td><%= pharmacotherapy.safety %></td>
        <td><%= pharmacotherapy.effectiveness %></td>
        <td><%= pharmacotherapy.useDificulty %></td>
        <td><%= pharmacotherapy.timeUse %></td>
        <td><%= pharmacotherapy.carePlan %></td>
        <td><%= pharmacotherapy.descriptionDisease %></td>
        <td><%= link_to 'Show', pharmacotherapy %></td>
        <td><%= link_to 'Edit', edit_pharmacotherapy_path(pharmacotherapy) %></td>
        <td><%= link_to 'Destroy', pharmacotherapy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pharmacotherapy', new_pharmacotherapy_path %>
