<p id="notice"><%= notice %></p>

<%= link_to 'Nova Farmacoterapia', new_pharmacotherapy_path, :class => 'btn btn-primary' %>

<h1>Lista Farmacoterapia</h1>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
       <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Paciente</th>
              <th>Data de Atendimento</th>
              <th>Medicamento</th>
              <th>Dosagem</th>
              <th>Segurança</th>
              <th>Eficácia</th>
              <th>Dificuldade no uso</th>
              <th>Tempo de uso</th>
              <th>Plano de cuidado</th>
              <th>Descrição da doença</th>
              <th>PRM</th>
              <th>Causas do PRM</th>
              <th colspan="3">Ações</th>
            </tr>
          </thead>
        
          <tbody>
            <% @pharmacotherapies.each do |pharmacotherapy| %>
              <tr>

                <td> <%= Pacient.all.map { |u| u.name } %> </td>
                <td></td>
                <td><%= pharmacotherapy.medicine %></td>
                <td><%= pharmacotherapy.dosageSchedule %></td>
                <td><%= pharmacotherapy.safety %></td>
                <td><%= pharmacotherapy.effectiveness %></td>
                <td><%= pharmacotherapy.useDificulty %></td>
                <td><%= pharmacotherapy.timeUse %></td>
                <td><%= pharmacotherapy.carePlan %></td>
                <td><%=  %></td>
                <td><%=  %></td>
                <td>
                    <div class="btn-group">
                      <%= link_to '<i class="fa fa-folder"></i>'.html_safe, pharmacotherapy, :class => 'btn btn-info', "data-original-title" => "Visualizar", "data-placement" => "top", "data-toggle" => "tooltip" %>
                      <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_pharmacotherapy_path(pharmacotherapy), :class => 'btn btn-warning', "data-original-title" => "Editar", "data-placement" => "top", "data-toggle" => "tooltip" %>
                      <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, pharmacotherapy, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Confirma a exclusão?' }, "data-original-title" => "Delete", "data-placement" => "top", "data-toggle" => "tooltip" %>
                    </div>  
                </td> 
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


