<p id="notice"><%= notice %></p>

<p>
  <strong>Paciente:</strong>
  
  <%= @pharmacotherapy.pacient.name %>
  
  
</p>

<p>
  <strong>Medicamento:</strong>
  <%= @pharmacotherapy.medicine %>
</p>

<p>
  <strong>Dosagem:</strong>
  <%= @pharmacotherapy.dosageSchedule %>
</p>

<p>
  <strong>Segurança:</strong>
  <%= @pharmacotherapy.safety %>
</p>

<p>
  <strong>Eficácia:</strong>
  <%= @pharmacotherapy.effectiveness %>
</p>

<p>
  <strong>Dificuldade no uso:</strong>
  <%= @pharmacotherapy.useDificulty %>
</p>

<p>
  <strong>Tempo de uso:</strong>
  <%= @pharmacotherapy.timeUse %>
</p>

<p>
  <strong>Plano de cuidado:</strong>
  <%= @pharmacotherapy.carePlan %>
</p>


<p>
  <strong>PRM:</strong>
  <%= @pharmacotherapy.prm %>
</p>

<p>
  <strong>Causas do PRM:</strong>
  <%= @pharmacotherapy.prmCause %>
</p>

<%= link_to 'Adicionar Plano de Cuidados', new_care_plan_path, :class => 'btn btn-primary' %> |
<%= link_to 'Editar', edit_pharmacotherapy_path(@pharmacotherapy), :class => 'btn btn-primary' %> |
<%= link_to 'Voltar', pharmacotherapies_path, :class => 'btn btn-primary' %>

