<p id="notice"><%= notice %></p>

<h1>Lista de UBS</h1>

<form class="form-horizontal">
  <div class="input-group col-md-4">
    <%= form_tag(ubs_path, :method => :get) do %>
      <%= text_field_tag 'pesquisa', nil, placeholder: 'Buscar UBS', :class => 'form-control' %>
      <span class="input-group-btn">
      <%= submit_tag "Pesquisar" , :class => 'btn btn-primary form-control'%>
      </span>
    <% end %>
  </div>
  <div>
    <%= link_to new_ub_path, :remote => true do %>
      <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
    <% end %>
  </div>
</form>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Descrição</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @ubs.each do |ub| %>
              <tr>
                <td><%= ub.description %></td>
                <td><%= link_to 'Visualizar', ub, :class => 'btn btn-info' %></td>
                <td><%= link_to 'Editar', edit_ub_path(ub), :class => 'btn btn-warning' %></td>
                <td><%= link_to 'Excluir', ub, method: :delete, data: { confirm: 'Confirma a exclusão?' }, :class => 'btn btn btn-danger' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<br>

<div id="new-ub" style="display:none;"></div>