<!DOCTYPE html>
<html>
  
  <head>
    <title>GesFar Newton</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'maskedinput', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    
  </head>
    <body class="nav-md footer_fixed">
      
      <% flash.each do |name, msg| %>
        <div class='alert alert-<%= name %>' role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">Fechar</button>
          <%= msg %>
        </div>
      <% end %>
      
      <% if logged_in? %>
      
      <div class="container body">
        <div class="main_container">
          <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
              <div class="navbar nav_title" style="border: 0;">
                <a href="/users" class="site_title"><span>GesFar Newton</span></a>
              </div>
            
              <div class="clearfix"></div>
            
              <br/>
            
            <!-- sidebar menu -->
              <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                  <h3>Painel Inicial</h3>
                    <ul class="nav side-menu">
                      <li><a href="/home"><i class="fa fa-home"></i>Menu</a>  
                      </li>
                      <li><a href="/pacients"><i class="fa fa-user"></i>Paciente</a>
                      </li>
                      <li><a href="/attendances"><i class="fa fa-hospital-o"></i>Atendimento</a>
                      </li>
                      <li><a href="/users"><i class="fa fa-lock"></i>Usuários</a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          
          <!-- top navigation -->
          <div class="top_nav">
            <div class="nav_menu">
              <nav>
                <div class="nav toggle">
                  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                
                <ul class="nav navbar-nav navbar-right">
                  <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="/" alt=""><%= @current_user.name %>
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                      <li><a href="javascript:;"> Profile</a></li>
                      <li><a href="javascript:;">Help</a></li>
                        <li>
                          <%= link_to "Log Out", sign_out_path, method: "delete" %>
                        </li>
                    </ul>
                  </li>
                </ul>
                
              </nav>
            </div>
          </div>
          <!-- /top navigation -->
          
          <% end %>
          
          <!-- page content -->
            <div class="right_col" role="main">
              <!-- top tiles -->
              <%= yield %>
            </div>
        </div> 
        
          <footer>
            <div class="pull-right">
              GesFar - Desenvolvido pelo Curso de Sistemas de Informação da Newton Paiva - 7º e 8º Periodo <a href="https://www.newtonpaiva.br/graduacao/sistemas-de-informacao"> Newton Paiva </a>
            </div>
            <div class="clearfix"></div>
          </footer>        
      </div>
    </body>
</html>